<div>
  <form class="form" [formGroup]="productForm" (submit)="save()">
    <div class="form-group">
      <label>Code</label>
      <input type="text" formControlName="code" />
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="number" formControlName="quantity" />
    </div>
    <div class="form-group">
      <label>Floor ID</label>
      <input type="text" formControlName="floorId" />
    </div>
    <div class="form-group">
      <label>Section ID</label>
      <input type="text" formControlName="sectionId" />
    </div>
  </form>
</div>
