@import "../../../stylings/variables.scss";

.form-container {
  .form-group {
    .form-control {
      &.code-prefix {
        display: inline-block;
        width: 70px;
        margin-right: 20px;
      }
      &.code-suffix {
        display: inline-block;
        width: 120px;
      }
    }
    .submitted.ng-invalid, .ng-invalid.ng-dirty {
      border-color: $color-11;
    }
  }
}
