<div class="product-overview">
  <div>
    <div class="title">
      Products for Floor {{floorId}} / Section {{sectionId}}
      <button class="button button-primary pull-right" (click)="openAddProduct()">Add Product</button>
    </div>
  </div>
  <div class="product-item" *ngFor="let product of products">
    <div routerLink="/product/{{product.code}}">
      <ul>
        <li><span class="strong-label">Product:</span> {{product.code}}</li>
        <li><span class="strong-label">Quantity:</span> {{product.quantity}}</li>
        <li><span class="strong-label">Floor:</span> {{product.floorName}}</li>
        <li><span class="strong-label">Section:</span> {{product.sectionName}}</li>
      </ul>
    </div>
  </div>
</div>