<div class="menu">
  <ul class="menu-navigation">
    <li *ngFor="let floor of floors" class="menu-navigation-item">
      <a href="javascript:;" (click)="selectFloor(floor.id)">{{floor.name}}</a>
      <ul class="menu-sub-navigation" *ngIf="selectedFloor === floor.id">
        <li class="menu-sub-navigation-item" *ngFor="let section of floor.sections">
          <a (click)="selectSection(floor.id, section.id)" [ngClass]="{ 'active': isActive(floor.id, section.id) }">{{section.name}}</a>
        </li>
        <button routerLink="/add-section/{{floor.id}}" class="navigation-button">
          <i class="fas fa-folder-plus"></i>
          Add Section
        </button>
      </ul>
    </li>
  </ul>
  <a routerLink="/add-floor" class="navigation-button">
    Add Floor
  </a>
</div>
