/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "./stylings/variables.scss";

html {
  height: calc(100% - 50px);
}

body {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  height: calc(100% - 50px);
}

ul {
  padding: 0;
  list-style: none;
}

.title {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-1;
  margin-bottom: 20px;
}

.form-container {
  width: 100%;

  .form {
    max-width: 600px;

    .form-group {
      margin-bottom: 10px;

      label {
        width: 100%;
        display: block;
        margin-bottom: 5px;
      }

      .form-control {
        width: 100%;
        display: block;
        height: 36px;
        padding: 0 10px;
        font-size: 16px;
        border: 1px solid $color-2;
        border-radius: 3px;

        &[readonly="readonly"] {
          background: $color-1;
          cursor: not-allowed;
        }
      }
    }
  }
}

.button {
  height: 36px;
  min-width: 100px;
  cursor: pointer;
}

.muted {
  font-size: 12px;
  color: $color-3;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.strong-label {
  font-weight: 900;
  min-width: 120px;
  display: inline-block;
}
