/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  height: calc(100% - 50px);
}

body {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  height: calc(100% - 50px);
}

ul {
  padding: 0;
  list-style: none;
}
